.footer {
    margin-bottom: 115px;

    &__container {
        width: 1105px;
    }
}

.site-menu {
    margin-bottom: 115px;

    &__section {
        display: flex;
        justify-content: space-between;
    }

    &__col {
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__title {
        font-family: var(--titlesFont);
        font-size: 24px;
        font-weight: bold;
        color: var(--black);
        text-transform: uppercase;
        margin-bottom: 24px;
    }

    &__item {
        margin-bottom: 15px;
    }

    &__link {
        color: #737373;
        font-size: 15px;
        text-decoration: none;

        &:hover {
            color: var(--red);
        }
    }

    &__text {
        font-size: 15px;
        color: var(--black);
        margin-bottom: 30px;

        &-row {
            color: inherit;
            text-decoration: none;
            display: block;
            margin-bottom: 5px;
        }
    }
}


.extras {
    display: flex;
    margin-bottom: 95px;

    &__col {
        margin-right: 25px;
        flex: 1;

        &:last-child {
            margin-right: 0;
        }

        &-socials {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            background: url('../img/bg/pattern.png') center center / 500px;
        }
    }

    &__best {
        display: block;
        text-decoration: none;
        text-align: center;
        color: #fff;
        background: #232323;
        font-size: 50px;
        font-weight: bold;
        font-family: var(--titlesFont);
        text-transform: uppercase;
        padding: 40px 10%;
        line-height: 1;
    }
}

.socials {
    display: flex;

    &__item {
        margin-right: 50px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        width: 38px;
        height: 38px;
        display: block;

        &:hover .socials__icon {
            fill: var(--red);
        }
    }

    &__icon {
        width: 100%;
        height: 100%;
        transition: fill .2s ease;
    }
}